:root {
  --main-color: #fff;
  --secondary-color: rgb(177, 177, 177);
  --main-bg-color: rgba(0, 0, 0, 0.8);
}

body {
  background-color: rgb(233, 233, 233);
}

.segment {
  background-color: var(--main-bg-color) !important;
  margin: 0 !important;
  min-width: 0;
  color: var(--main-color);
}

.main {
  margin: 1em auto;
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.top-panel {
  grid-column: 1 / 4;
  grid-row: 1;
}

.info-panel {
  grid-column: 4;
  grid-row: 1 / 5;
  text-align: center;
}

.chart-panel {
  grid-column: 1 / 4;
  grid-row: 2 / 4;
  min-height: 560px;
  background-color: #fff !important;
  color: var(--main-bg-color);
}

.hidden {
  visibility: hidden;
}

@media (max-width: 1016px) {
  .main {
    margin: 1em auto;
    max-width: 97%;
    grid-template-columns: 1fr;
  }
  .top-panel {
    grid-column: 1;
    grid-row: 1;
  }
  .chart-panel {
    grid-column: 1;
    grid-row: 2;
  }
  .info-panel {
    grid-column: 1;
    grid-row: 3;
  }
  .light-tick {
    display: none;
  }
}

/*-------------------
      Top Panel
--------------------*/

.toggle-boxes {
  display: inline-block;
  margin-top: 5px;
}

.toggle-box {
  margin-right: 1em;
}

#zoom {
  margin-right: 4px !important;
}

#zoom i {
  margin-left: 0.5em;
}

#lucky {
  margin-right: 1em !important;
}

.btn:hover {
  color: var(--main-bg-color) !important;
}

.btn:focus {
  background: initial !important;
  color: var(--main-color) !important;
}

.btn.active {
  background: var(--main-color) !important;
  color: var(--main-bg-color) !important;
}

@media (max-width: 407px) {
  .top-panel {
    text-align: center;
  }
  #lucky {
    margin-top: 5px !important;
  }
  .toggle-boxes {
    display: block;
  }
  .toggle-box:first-child {
    margin-left: 0;
    margin-right: 1em;
  }
}

/*-------------------
      Chart
--------------------*/

.legend {
  rx: 5;
  ry: 5;
  stroke: var(--secondary-color);
  stroke-width: 1px;
  fill: var(--main-color);
}

.legend-text {
  fill: var(--main-bg-color);
}

.legend-stat {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 14px;
  fill: var(--secondary-color);
}

.legend-dot {
  stroke: #ff5f54;
  stroke-width: 2px;
  fill: #ff5f5446;
}

.mean-line {
  stroke: #ff5f5446;
  stroke-width: 4px;
}

.x-axis,
.y-axis {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 1em;
  stroke-opacity: 0;
}

.y-axis line {
  color: rgba(207, 207, 207, 0.548);
  stroke-opacity: 100;
}

.dot {
  fill: #ff5f54;
  stroke: #fff;
  stroke-width: 1px;
}

.dot:hover {
  fill: #c2f271;
}

.dot-focus {
  fill: #8bced7;
  stroke: #1e8290;
  stroke-width: 2px;
}

.tooltip {
  font-family: 'Open Sans', 'sans-serif';
  padding: 12px;
  background: var(--main-bg-color);
  color: #fff;
  border-radius: 2px;
}

/* Triangle extender for the tooltip */
.tooltip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: var(--main-bg-color);
  content: '\25BC';
  position: absolute;
  text-align: center;
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.tooltip-rating {
  display: inline-block;
  color: rgb(255, 225, 55);
  padding: 0 4px 0 4px;
  border: 1px solid rgb(255, 225, 55);
}

.tooltip-year {
  display: inline-block;
  color: var(--secondary-color);
}

.light-tick {
  color: var(--secondary-color);
}

/*-------------------
      Info Panel
--------------------*/

#infoYear {
  font-weight: normal;
  display: inline;
  color: var(--secondary-color);
  font-size: 24px;
}

.infoFullDate {
  display: block !important;
  margin: 0 0 0.8em 0;
}

.info-header {
  margin-bottom: 0.8em !important;
}

#infoTitle {
  font-family: 'Open Sans';
  margin: 0.5em 0.2em;
  color: #fff;
  display: inline-block;
}

.info-rating-group {
  color: var(--secondary-color);
  margin: 0;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  font-weight: bold;
  font-family: 'Open Sans', 'Lato', 'sans-serif';
}

.rating-container {
  flex-basis: 100%;
  display: flex;
  align-items: center;
}

.info-rating {
  margin-bottom: 0.5em;
  display: flex;
  align-items: flex-start;
  width: 5.2em;
  flex-wrap: wrap;
}

.info-rating-icon {
  display: inline-block;
  width: 2em;
  margin-right: 5px;
}

.info-rating-icon {
  fill: #ff0000;
}

#infoVotes {
  display: block;
  font-size: 14px;
  margin-top: 0em;
  color: var(--secondary-color);
  font-weight: normal;
}

.poster-frame {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.poster-outer {
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  max-height: 400px;
}

#poster {
  max-height: 400px;
  position: relative;
  left: -50%;
  padding: 0;
  border: 0px;
}

.blur {
  filter: blur(6px);
  max-height: 400px;
  opacity: 0.66;
  max-width: 100%;
}

#infoSub {
  margin-top: 0em;
  color: var(--secondary-color);
}

#infoPlot {
  text-align: left;
  text-justify: inter-word;
}
